
body {
    background-color: #181C14;
    color: #ECDFCC;
}

h1 {
    color: red;
}

.full-height {
    min-height: 100vh;
}

.full-width {
    min-width: 100%;
}

.box {
    width: 50%;
}

.small-profile{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.logo {
    color: red;
    font-size: 150%;
    text-decoration: none;
}
