<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <title>SecureNote</title>
        <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<main th:fragment="main" class="full-height full-width d-flex flex-column justify-content-center align-items-center">
        <div class="box">
                <h1>SecureNote</h1>
                <p>A place where you put those links you might need for later</p>
                <a href="/login" class="btn btn-primary">Get Started</a>
        </div>
</main>

</body>
</html>
